@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 15px;
$line-height-base: 1.55;

$navbar-default-link-color: black;
$link-color: purple;

$button-background-color: #f2f2f2;

@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

$hairline-color: #ccc;
$breathing-room: 20px;
$breakpoint: $screen-sm-min;
@mixin make-breakpoint-column($columns) {
	@include make-sm-column($columns);	
}
@mixin make-breakpoint-offset($columns) {
	@include make-sm-column-offset($columns);
}

//If an element is supposed to trade placed with another element depending on if there is or isn't a grid
//use this
@mixin breakpoint-swap($visibleWithGrid, $visibleWithoutGrid) {
	@media (min-width: $breakpoint) {
		#{($visibleWithGrid)} {
			display: block;
		}
		#{($visibleWithoutGrid)} {
			display: none;
		}	
	}

	@media (max-width: $breakpoint) {
		#{($visibleWithGrid)} {
			display: none;
		}	
		#{($visibleWithoutGrid)} {
			display: block;
		}	
	}
}

//create a hairline border between two adjacent elements. 
@mixin hairline-border($left, $right) {
	#{$left} {
		padding-right: $breathing-room;

		border-right-width: 1px;
		border-right-style: solid;
		border-right-color: $hairline-color;	
	}

	#{$right} {
		//Move the margin one over so the borders will overlap
		margin-left: -1px;

		padding-left: $breathing-room;
		border-left-width: 1px;
		border-left-style: solid;
		border-left-color: $hairline-color;	
	}	
}

#header {
		width: 100%;

		font-size: 200%;
		font-weight: bolder;

		text-align: center;
		display: block;

		@media(min-width: $screen-md-min) {
			font-size: 300%;

			//make this inline-block so it only takes up the amount of space that it has to. 
			//This makes centering #dining work the way one expects centering to work when the screen
			//is bigger and the grid doesn't take up the whole screen.
			display: inline-block;
		}	

		#dining {
			text-align: center;
			font-size: 80%;
			display: block;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

		a {
			color: black;
		}
}

#main-content {
	margin-top: $breathing-room;

	@media (min-width: $breakpoint) {
		@include hairline-border(#content-text, #content-buttons);
	}

	#content-text {
		@include make-breakpoint-column(8);

		margin-bottom: $breathing-room;
		
		p {
			margin-right: $breathing-room;
		}

		#motto {
			text-align: center;
			margin-top: $breathing-room;
			font-weight: bold;
			font-size: 105%;
		}
	}

	#content-buttons {
		@include make-breakpoint-column(4);
	}

	div.button {
		background-color: $button-background-color;

		display: block;
		color: black;
	}

	a.button {
		background-color: $button-background-color;

		display: block;
		color: black;

		&:hover {
			text-decoration: none;
			background-color: darken($button-background-color, 10%);
		}
	}

	.button {
		text-align: center;
		padding: $breathing-room / 2;
		border-radius: 25px;

		img {
			border-radius: 15px;
			max-width: 100%;
		}

			.button-container {
				position: relative;
				display: table;
			}

			.button-text {
				// background-color: red;
				position: absolute;
				top: 0;
				
				font-weight: bold;

				// height: 80%;
				width: 100%;

				text-align: center;
				font-size: 130%;

				top: 50%;
				transform: translate(0, -50%);

				p {
					// background-color: green;

				}
			}
	}

	.button:not(.first) {
		margin-top: $breathing-room;
	}

	.button-caption {
		text-decoration: inherit;;

		padding-top: $breathing-room / 2;
		font-size: 130%;
		font-weight: bold;
	}
}

#button-hours {
	.title {

	}

	.subtitle {
		font-size: 100%;
		font-weight: normal;
	}
}

#watermark-container {
	background-color: rgba(darken($button-background-color, 30%), .7);
	height: 300%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;

	transition: 2s ease-in-out;

	#watermark {
		// position: absolute;
		// top: 0;
		// left: 0;
		margin-top: 15%;

		font-size: 600%;
		@media (max-width: $screen-sm-min) {
			font-size: 300%;
		}

		
		transform: rotate(-45deg);
		text-align: center;

		font-family: 'Montserrat', sans-serif;
		color: red;
	}

	
}

#watermark-container.out {
	// background-color: blue;
	opacity: 0;
}

body {
	padding-top: $breathing-room / 2;
	padding-left: $breathing-room;
	padding-right: $breathing-room;
	padding-bottom: $breathing-room;
}

@import "menu";